.wait-lock {
    opacity: 0.8;
    -webkit-animation: flash linear 1s infinite;
    animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
    0% { opacity: 0.8; }
    50% { opacity: 0.2; }
    100% { opacity: 0.8; }
}
@keyframes flash {
    0% { opacity: 0.8; }
    50% { opacity: 0.2; }
    100% { opacity: 0.8; }
}